html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}


.main-content {
    flex: 1;
}

/* Begin Footer */
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    border-top: 1px solid #ccc;
    background-color: #fff;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #000;
}

.footer-socials {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-socials .icons {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.footer-socials img {
    width: 24px;
    height: 24px;
    object-fit: contain;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}
/* Einde Footer */
